PG_USER=root
PG_PASSWORD=password
PG_HOST=ekiview-db
PG_DB=ekiview_development
PG_PORT=5432
PG_VERSION=13
TZ=Asia/Tokyo

API_PORT=5001

REDIS_HOST=ekiview-redis
REDIS_PORT=6379

VITE_APP_PORT=3001
VITE_APP_HOST=https://ekiview.onrender.com
VITE_API_BASE_URL=https://ekiview-api.onrender.com

GOOGLE_MAPS_API_KEY=XXX
